<div class="container">

  <div class="form-group">
    <label for="typeahead-basic">Search for task:</label>
    <!-- <input id="typeahead-template" type="text" class="form-control" [(ngModel)]="searchName" [ngbTypeahead]="search"
      [resultTemplate]="rt" [inputFormatter]="formatter" /> -->
    <input id="name" class="form-control" [(ngModel)]="searchName">
    <button (click)="searchTask()" class='btn btn-success'>Search</button>
  </div>
  <div *ngIf="searchTugas.length > 0">
    <table class="table table-responsive">
      <thead>
        <th>ID</th>
        <th>Task</th>
        <!-- <th>Priority</th> -->
        <th>Department</th>
        <th>Employees</th>
        <th>Due Date</th>
        <th>action</th>
      </thead>

      <tr *ngFor="let tsk of searchTugas; index as i">
        <td>
          {{tsk.id}}
        </td>
        <td>{{tsk.name}} </td>
        <!-- <td> {{tsk.priority}}</td> -->
        <!-- <td> {{getDepartmentName(tsk.depId)}}</td> -->
        <td> {{tsk.department_id}}</td>
        <td>
          <p *ngFor="let emp of tsk.employees">{{emp}}</p>
        </td>
        <!-- <td> {{tsk.empId}}</td> -->
        <td> {{tsk.due_date}}</td>
        <td><button class="btn btn-danger" (click)="deleteTask(i)">Delete</button></td>
      </tr>
    </table>
  </div><!-- <input  #newTask  placeholder="Priority"> -->
</div>



<!-- <hr>
<pre>Model: {{ tugas | json }}</pre> -->
<div class="container container-fluid">
  <table class="table table-responsive">
    <thead>
      <th>ID</th>
      <th>Task</th>
      <!-- <th>Priority</th> -->
      <th>Department</th>
      <th>Employees</th>
      <th>Due Date</th>
      <th>action</th>
    </thead>

    <tr *ngFor="let tsk of tugas; index as i" (click)="onSelect(tsk)">
      <td>
        {{tsk.id}}
      </td>
      <td>{{tsk.name}} </td>
      <!-- <td> {{tsk.priority}}</td> -->
      <!-- <td> {{getDepartmentName(tsk.depId)}}</td> -->
      <td> {{tsk.department_id}}</td>
      <td>
        <p *ngFor="let emp of tsk.employees">{{emp}}</p>
      </td>
      <!-- <td> {{tsk.empId}}</td> -->
      <td *ngIf="tsk.due_date===null"> {{tsk.due_date}}</td>
      <td *ngIf="tsk.due_date!==null"> {{tsk.due_date.day}}- {{tsk.due_date.month}}-{{tsk.due_date.year}}</td>

      <td><button class="btn btn-danger" (click)="deleteTask(i)">Delete</button></td>
    </tr>
  </table>
</div>

<ngb-tabset>
  <ngb-tab>
    <ng-template ngbTabTitle>Create</ng-template>
    <ng-template ngbTabContent>
      <div class="container">
        <div class="form-group">
          <label for="newTaskName">Task Name</label>
          <input class="form-control" [(ngModel)]="newTaskName" id="newTaskName" placeholder="name">
          <hr>
          <!-- <pre>Model: {{ model | json }}</pre> -->
          <!-- <input  #newTask  placeholder="Priority"> -->
        </div>
        <!-- <div class="form-group">
            <label for="newPriority">Priority Level</label>
            <select class="form-control" id="priority" [(ngModel)]="newPriority" name="newPriority" placeholder="priority level">
              <option value="" disabled selected>Select your option</option>
              <option *ngFor="let prio of priorityList" [value]="prio">{{prio}}</option>
            </select>
          </div> -->
        <div class="form-group">
          <label for="departments">Departments</label>
          <input class="form-control" type="id" [(ngModel)]="newDepartment" id="newDepartment" placeholder="name">
          <!-- <select class="form-control" id="departments" [(ngModel)]="newDepartment" name="departmentList" placeholder="Department Name">
            <option value="" disabled selected>Select Departments</option>
            <option *ngFor="let dep of departments" [value]="dep.id">{{dep.dept_name}}</option>
          </select> -->
        </div>
        <div class="form-group">
          <label for="employees">Employee Name</label>
          <input class="form-control" type="id" [(ngModel)]="newEmpList[0]" placeholder="emp_id">
          <input class="form-control" type="id" [(ngModel)]="newEmpList[1]" placeholder="emp_id">
          <input class="form-control" type="id" [(ngModel)]="newEmpList[2]" placeholder="emp_id">

          <!-- <select class="form-control" id="employees" [(ngModel)]="newEmployee" name="employees" placeholder="employee name">
            <option value="" disabled selected>Select your option</option>
            <option *ngFor="let emp of employeeList" [value]="emp.id">{{emp.emp_name}}</option>
          </select> -->
        </div>
        <div class="form-group">
          <label for="tanggal">Due Date</label>
          <!-- 1. inline datepicker -->
          <!-- 2. datepicker in the popup -->
          <input type="date" [(ngModel)]="newDate" ngbDatepicker #d="ngbDatepicker" />
          <button class="btn" (click)="d.toggle()"><span class="glyphicon glyphicon-calendar"></span></button>
        </div>
        <button class="btn btn-success" (click)="addTask()">Add</button>
      </div>
    </ng-template>
  </ngb-tab>

  <ngb-tab>
    <ng-template ngbTabTitle>Edit</ng-template>
    <ng-template ngbTabContent>
      <div *ngIf="selectedTask">
        <div class="container">
          <!-- <input  #newTask  placeholder="Priority"> -->
          <!-- <div class="form-group">
              <label for="selectedTaskPriority">Priority</label>
              <select class="form-control" id="priority" [(ngModel)]="selectedTask.priority" name="selectedTaskPriority"
                placeholder="priority">
                <option *ngFor="let prio of priority" [value]="prio">{{prio}}</option>
              </select>
            </div>
            <div class="form-group"> -->
          <div class="form-group">
            <label for="selectedTaskName">Task Name</label>
            <input class="form-control" type="hidden" [(ngModel)]="selectedTask.name" id="selectedTaskName" placeholder="name">
            <input class="form-control" type="text" [(ngModel)]="selectedTask.name" id="selectedTaskName" placeholder="name">
          </div>
          <div class="form-group">
            <label for="selectedTaskDepartment">Department Name</label>
            <input class="form-control" [(ngModel)]="selectedTask.department_id" id="selectedTaskDepartment"
              placeholder="name">
          </div>
          <div class="form-group">
            <label for="selectedTaskEmps">Employees</label>
            <input class="form-control" [(ngModel)]="selectedTask.employees" id="selectedTaskEmp" placeholder="name">
          </div>
          <div class="form-group">
            <label for="tanggal">Due Date</label>
            <!-- 1. inline datepicker -->
            <!-- 2. datepicker in the popup -->
            <input type="date" [(ngModel)]="selectedTask.due_date" ngbDatepicker #d="ngbDatepicker" />
            <button (click)="d.toggle()">Toggle</button>
          </div>
          <button class="btn btn-success" (click)="updateTask()">Edit</button>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
