<!-- <h1>
  Employees works!
  of course they do
</h1> -->
<div class="form-group">
  <label for="typeahead-basic">Search for employee:</label>
  <!-- <input id="typeahead-template" type="text" class="form-control" [(ngModel)]="searchName" [ngbTypeahead]="search"
    [resultTemplate]="rt" [inputFormatter]="formatter" /> -->
  <input id="name" class="form-control" [(ngModel)]="searchName">
  <button (click)="searchEmp()" class='btn btn-success'>Search</button>
</div>
<div *ngIf="searchEmployee.length > 0" class="container container-fluid">
  <table class="table">
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th>Address</th>
      <th>Department</th>

    </thead>

    <tr *ngFor="let emp of searchEmployee; index as i">
      <td>
        {{emp.id}}
      </td>
      <td>{{emp.emp_name}} </td>
      <td> {{emp.emp_address}}</td>      
    <td>{{depts[i].dept_name}}</td>
    </tr>

  </table>

</div>


<table class="table ">
  <thead>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <!-- <th>Address</th> -->
    <th>Department</th>
    <th>Action</th>

  </thead>

  <tr *ngFor="let emp of employeesGroup; let i = index" [attr.data-index]="i">
    <td>
      {{emp.id}}
    </td>
    <td>{{emp.first_name}} </td>
    <td>{{emp.last_name}} </td>
    <td>{{emp.department_id}} </td>
    <!-- <td> {{emp.emp_address}}</td> -->
    <!-- <td>{{depts[i].dept_id}}</td> -->
    <td>
      <button class="btn btn-warning" (click)="show(emp, i)">Edit</button>
      <button class="btn btn-danger" (click)="delete(i)">Delete</button>
    </td>
  </tr>
</table>

<hr>

<div class="container">
  <h3>Add New Employee</h3>
  <form>
    <div class="form-group">
      <input type="text" class="form-control" id="emp_name" name="emp_name" placeholder="Employee Name" [(ngModel)]="emp_name">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="emp_address" name="emp_address" placeholder="Employee Address"
        [(ngModel)]="emp_address">
    </div>
    <button type="button" class="btn btn-outline-success" (click)="insert()">Submit</button>
  </form>
</div>

<div *ngIf="selectedEmp">
  <hr>
  <div class="container">
    <h2>Update Data</h2>
    <div>
      <label>
        <div class="form-group">
          <input type="hidden" [(ngModel)]="i" name="i" placeholder="name">
          Name:
          <input type="text" class="form-control" [(ngModel)]="selectedEmp.emp_name" name="emp_name2" placeholder="name">
        </div>
        <div class="form-group">
          Address:
          <input type="text" class="form-control" [(ngModel)]="selectedEmp.emp_address" name="emp_address2" placeholder="name">
        </div>
        <button type="button" class="btn btn-outline-warning" (click)="update(i)">Update</button>
      </label>
    </div>
  </div>
</div>
