<div class="row container container-fluid">
  <table class="col-sm-4 table table-dark table-responsive">
    <thead>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
    </thead>
    <tbody>
      <tr *ngFor="let dept of departments; let i = index" [attr.data-index]="i" (click)="onSelectDept(dept,detail)">
        <td>
          {{dept.id}}
        </td>
        <td>{{dept.name}} </td>
      </tr>
    </tbody>
  </table>
  <table class="col-sm-4 table table-responsive">
    <thead>
      <th>ID</th>
      <th>Task</th>
    </thead>
    <tr *ngFor="let tsk of tugas; let i = index" [attr.data-index]="i" (click)="onSelectTask(tsk,detail)">
      <td>
        {{tsk.id}}
      </td>
      <td>{{tsk.name}} </td>
    </tr>
  </table>
  <table class="col-sm-4 table table-responsive table-danger">
    <thead>
      <th>ID</th>
      <th>Name</th>
    </thead>
    <tr *ngFor="let emp of employeeList; let i = index" [attr.data-index]="i" (click)="onSelectEmp(emp,detail)">
      <td>
        {{emp.id}}
      </td>
      <td>{{emp.first_name}} </td>
    </tr>
  </table>
</div>



<ng-template #detail let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-detail">Detail </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="selectedTask">
      <table class="col-md-6 table">
        <thead>
          <th>ID</th>
          <th>Task Name</th>
          <!-- <th>Priority</th> -->
          <th>Department ID</th>
          <th>Employee</th>
          <th>Due Date</th>
          <!-- <th>action</th> -->
        </thead>
        <tr>
          <td>
            {{selectedTask.id}}
          </td>
          <td>{{selectedTask.name}} </td>
          <td> {{selectedTask.department_id}}</td>
          <!-- <td> {selectedTask.due_date}}</td> -->
          <td>
            <p *ngFor="let emp of selectedTask.employees">
              {{emp}}
            </p>
          </td>
          <td>
            {{selectedTask.due_date.day}} -
            {{selectedTask.due_date.month}} -
            {{selectedTask.due_date.year}}

          </td>
          <!-- <td><button class="btn btn-danger" (click)="deleteTask(i)">Delete</button></td> -->
        </tr>
      </table>

    </div>
    <div *ngIf="selectedEmp">
      <table class="col-md-6 table">
        <thead>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Department Id</th>
          <!-- <th>Address</th> -->
        </thead>
        <tr>
          <td>
            {{selectedEmp.id}}
          </td>
          <td>{{selectedEmp.first_name}} </td>
          <td>{{selectedEmp.last_name}} </td>
          <td> {{selectedEmp.department_id}}</td>
        </tr>
      </table>
    </div>
    <div *ngIf="selectedDept">
      <table class="col-md-6 table">
        <thead>
          <th>ID</th>
          <th>Name</th>
          <th>Building</th>
          <th>Employees</th>
        </thead>
        <tr>
          <td>
            {{selectedDept.id}}
          </td>
          <td>{{selectedDept.name}} </td>
          <td>{{selectedDept.building}} </td>
          <td>
            <p *ngFor="let emp of selectedDept.employees">
              {{emp}}
            </p>
          </td>

        </tr>

      </table>

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>

<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(detail)">Please read!!!</button> -->

<pre>{{closeResult}}</pre>
